;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
 [[reagent "1.1.1"]
  [re-frame "1.2.0"]]

 :dev-http {8080 "public"}

 :builds
 {:app
  {:target :browser
   :modules {:app {:init-fn word-families.app/init}}}}}
